@using CinemaApplication1.Entities
@using CinemaApplication1.Models

@model Film
@{
    ViewBag.Title = "Home Page";
}


@section styles {


}

<nav class="mt-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Filmlər</a></li>
        <li class="breadcrumb-item">@Model.Name</li>
    </ol>
</nav>

<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-1">
            <div class="input-group">
                <p>Filmin çıxma tarixi -</p>
                <p> @Model.PublicationDate.Value.ToString("dd.MM.yyyy")</p>
            </div>
        </li>
        <li class="list-group-item p-1">
            <div class="input-group">
                <p>Filmin muddeti -</p>
                <p> @Model.Duration</p>
            </div>
        </li>
        <li class="list-group-item p-1">
            <div class="input-group">
                <p class="mr-4 pr-4">Filmin linki : </p>
                <p class="ml-4"><a href="@Model.Link" target="_blank">Clickle</a></p>
            </div>
        </li>
        <li class="list-group-item p-1">
            <div class="input-group">
                <p class="mr-4 pr-4">Şəhərlərin adları  </p>
                <p> @string.Join(" , ", Model.FilmCountries.Select(x => x.Country.Name).ToList())</p>
            </div>  
        </li>
        <li class="list-group-item p-1">
            <div class="input-group">
                <p class="mr-4 pr-4">Janrların adları : </p>
                <p> @string.Join(" , ", Model.FilmJanres.Select(x => x.Janre.Name).ToList())</p>
            </div>
        </li>

    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>

@section scripts {
}