@using CinemaApplication1.Models

@model  FilmViewModel

@{
    ViewBag.Title = "Home Page";
}



@if (TempData["country_success"] != null)
{
    <div class="alert alert-success mt-4" role="alert">
        <strong>Şəhər</strong> uğurla əlavə edildi.
    </div>
}

@if (TempData["film_success"] != null)
{
    <div class="alert alert-success mt-4" role="alert">
        <strong>Film</strong> uğurla əlavə edildi.
    </div>
}

@if (TempData["janre_success"] != null)
{
    <div class="alert alert-success mt-4" role="alert">
        <strong>Janr</strong> uğurla əlavə edildi.
    </div>
}


<div class="card text-center mt-4">
    <div class="card-header">
        Cinema Filmleri
    </div>
    <div class="card-body">
        <h5 class="card-title">Filmlər</h5>
        <p class="card-text">Yeni film əlavə etmək üçün aşağıdakı buttona clickləyin</p>
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CityAddModal">Şəhər əlavə et</a>
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#FilmAddModal">Film əlavə et</a>
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#JanrAddModal">Janr əlavə et</a>

    </div>
    <div class="card m-2">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Publication Date</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Link</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        uint row_counter = 1;
                    }

                    @foreach (var film in Model.Films)
                    {
                        <tr>
                            <th scope="row">@row_counter</th>
                            <td>@film.Name</td>
                            <td>@film.PublicationDate.Value.ToString("dd.MM.yyyy")</td>
                            <td>@film.Duration</td>
                            <td><a href="@film.Link" target="_blank">Click</a></td>
                            <td><a target="_blank" href="@Url.Action("Detail","Home", new { id = film.FilmID })" >Etrafli</a></td>
                        </tr>

                        row_counter++;
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Film Add Modal -->
    <div class="modal fade" id="FilmAddModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Yeni film əlavə et</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-left">
                    <form class="row g-3" action="@Url.Action("CreateFilm","Home")" method="post" id="film_add_form">
                        <div class="col-md-6">
                            <label for="id_name" class="form-label">Filmin adı</label>
                            <input type="text" name="Name" class="form-control" id="id_name">
                        </div>
                        <div class="col-md-6">
                            <label for="id_name" class="form-label">Çıxma tarixi</label>
                            <input type="date" name="PublicationDate" class="form-control" id="id_name">
                        </div>
                        <div class="col-md-12">
                            <label for="id_duration" class="form-label">Filmin müddəti</label>
                            <input type="range" name="Duration" value="1" class="form-range" id="id_duration" min="0" max="5" step="1">
                        </div>
                        <div class="col-md-12">
                            <label for="id_link" class="form-label">Filmin linki</label>
                            <input type="text" name="Link" class="form-control" id="id_link">
                        </div>
                        <div class="col-md-6">
                            <label for="id_countries" class="form-label">Filmin çəkildiyi olkelers</label>
                            <select name="Countries" class="form-select" id="id_countries" multiple>
                                @foreach (var country in Model.Countries)
                                {
                                    <option value="@country.CountryID">@country.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="id_janres" class="form-label">Filmin janrları</label>
                            <select name="Janres" class="form-select" id="id_janres" multiple>
                                @foreach (var janre in Model.Janres)
                                {
                                    <option value="@janre.JanreID">@janre.Name</option>
                                }
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ləğv et</button>
                    <button type="submit" form="film_add_form" class="btn btn-primary">Yadda saxla</button>
                </div>
            </div>
        </div>
    </div>

    <!-- City Add Modal -->
    <div class="modal fade" id="CityAddModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Yeni şəhər əlavə et</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-left">
                    <form class="row g-3" action="@Url.Action("CreateCountry","Home")" method="post" id="create_country_form">
                        <div class="col-md-12">
                            <label for="id_name" class="form-label">Şəhərlərin adları</label>
                            <input type="text" name="Name" class="form-control" id="id_city">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ləğv et</button>
                    <button type="submit" form="create_country_form" class="btn btn-primary">Yadda saxla</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="JanrAddModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Yeni janr əlavə et</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-left">
                    <form class="row g-3" action="@Url.Action("CreateJanre","Home")" method="post" id="create_janre_form">
                        <div class="col-md-12">
                            <label for="id_name" class="form-label">Janrın adı</label>
                            <input type="text" name="Name" class="form-control" id="id_janre">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ləğv et</button>
                    <button type="submit" form="create_janre_form" class="btn btn-primary">Yadda saxla</button>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {
}